:root {
    --mainblack: #061735;
    --maingrey: #07264e;
    --mainblue: #003A6D;
    --mainred: #CC0001;
    --secondred: #AF0000;
} 

body {
    background-color: var(--mainblue);
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: max-content;
}

#navbar {
    display: flex;
    justify-content: right;
    background-color: var(--maingrey);
    padding: 1em;
    margin: 0;
    z-index: 5;
}

#navbar #elem {
    list-style-type: none;
    margin: 0 1em;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color: var(--secondred);

}

#navbar #name {
    list-style-type: none;
    margin: 0 1em;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    left: 2%;
    top: 16px;
}

#navbar a {
    color: var(--secondred);
    text-decoration: none;
}

#ontop {
    z-index: 10;
}

#navbar #elem:hover {
    background-color: var(--mainblack);
    border-radius: 10px;
    cursor: pointer;
}